table, th, td {
    border: 1px solid black;
    margin: auto;
}

.container-fluid {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  margin: auto;
}

.container-fluid {
text-align: center;
}