table, th, td {
    border: 1px solid black;
    margin: auto;
}

.container-fluid {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  margin: auto;
}

.container-fluid {
text-align: center;
}

/* hides alert messages */
div.hidden
{
   display: none;
}

#right_alert{
  font-weight: bold;
  background-color: green;
  padding: 20px;
}

#wrong_alert{
  font-weight: bold;
  background-color: red;
  padding: 20px;
}
